* {
  box-sizing: border-box;
  font-family: Tr2n;
}

body {
  display: flex;
  justify-content: center;
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 963px;
  border: 2px solid cyan;
  margin-top: 25px;
  padding: 25px;
  background-color: black;
}

canvas {
  display: block;
  border: 2px solid cyan;
  background-color: black;
}

canvas:focus {
  outline: none;
}

#canvas-element {
  position: relative;
}

#canvas-overlay {
  position: absolute;
  z-index: 9999;
  opacity: 1;
}

aside {
  display: block;
  width: 250px;
  height: 520px;
  border: 2px solid cyan;
  margin-left: 5px;
  background-color: black;
}

.title-box {
  display: block;
  height: 80px;
  margin: 0 10px;
  color: Cyan;
  text-align: center;
}

.lives-box {
  display: block;
  height: 150px;
  margin: 20px 10px;
  color: Cyan;
  text-align: center;
}

.player1,
.player2 {
  font-size: 24px;
}

.player1 {
  color: #FFDD33;
}

.player2 {
  color: red;
}

h2 {
  margin-top: 30px;
  margin-bottom: 5px;
  color: white;
  font-size: 36px;
  text-align: center;
}

.button-container {
  display: flex;
  width: 958px;
  color: white;
  background-color: black;
  border: 2px solid cyan;
  margin-top: 5px;
  padding: 10px;
}

.difficulty-btn-container {
  width: 80%;
  padding-top: 0;
  text-align: center;
}

.difficulty-level {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 34px;
}

.difficulty-btn:disabled {
  background-color: cyan;
  color: black;
}

.pause-btn:disabled {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    color: cyan;
    background-color: black;
    opacity: 1;
  }

  50% {
    background-color: cyan;
    color: black;
    opacity: 0.7;
  }

  100% {
    color: cyan;
    background-color: black;
    opacity: 0.6;
  }
}

button {
  display: inline-block;
  background: none;
  color: cyan;
  border: 2px solid cyan;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 4px;
}

.pause-btn,
.reset-game-btn {
  margin: 10px;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: cyan;
  color: black;
  cursor: pointer;
}

.keys-container {
  display: flex;
  align-items: center;
  color: cyan;
  margin-top: 10px;
}

.controls-box {
  display: flex;
  flex-wrap: wrap;
  color: cyan;
}

.controls-title {
  text-align: center;
}

.key {
  margin: 0;
}

.key-top,
.key-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: cyan;
  border: 1px solid cyan;
  border-radius: 2px;
}

.p2-up,
.p2-down {
  transform: rotate(90deg);
}

.p1-controls,
.p2-controls {
  width: 50%;
}

.key-bottom-container,
.key-top-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blink {
  animation: blink 1.5s linear infinite;
}
